kafka-python>=2.0.2
pandas>=2.2.3
cassandra-driver>=3.29.2
vnstock==0.2.8.8
mysql-connector-python>=9.2.0
SQLAlchemy>=2.0.37
bs4>=0.0.2
ssi_fc_data>=2.2.2
pyspark>=3.5.4
pyarrow>=19.0.0
pip>=25.0
distro>=1.9.0
wheel>=0.45.1
cryptography>=44.0.0
pillow>=11.1.0
setuptools>=75.8.0
typing_extensions>=4.12.2
zipp>=3.21.0
future>=1.0.0
