global:
  scrape_interval: 5s
  evaluation_interval: 5s
  external_labels:
    monitor: 'Performance monitor'

scrape_configs:
  - job_name: 'graphite-exporter'
    scrape_interval: 5s
    static_configs:
      - targets: ['host.docker.internal:9108']
    metrics_path: '/metrics'

  - job_name: "kafka"
    scrape_interval: 5s
    static_configs:
      - targets:
        - kafka-exporter:9308

  - job_name: "cassandra"
    scrape_interval: 5s
    static_configs:
      - targets:
        - cassandra-1:7070
        - cassandra-2:7070
        - cassandra-3:7070